h1 
{
    font-family: 'Are You Serious', cursive;
    font-family: 'Cinzel Decorative', cursive;

    background-color: gold;
}
p 
{
    font-family: 'Are You Serious', cursive;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration-color: rgb(0, 0, 0);
    
}
body
{
    background-image: url(https://wallpapercave.com/wp/wp5607276.jpg);
}