h1 
{
    font-family: 'Are You Serious', cursive;
    font-family: 'Cinzel Decorative', cursive;
}
p 
{
    font-family: 'Are You Serious', cursive;
    font-family: 'Cinzel Decorative', cursive;
}
body
{
    background-color: black;
}